<!doctype html>
<html ng-app="metrogram">
<head>
	<!--
		Created by Kaspars Dambis
		http://konstruktors.com
	-->
	<meta charset="utf-8" />
	<title>Metrogram</title>
	<link rel="stylesheet" href="assets/style.css" />
	<script src="assets/angular.min.js"></script>
	<script src="assets/metrogram.js"></script>
</head>
<body ng-controller="slideshow" ng-class="loadingClass">
	<h1>
		<img src="assets/instagram-logo.png" /> 
		#<input type="text" ng-model="tag" id="tag" ng-change="tagChange()" ng-init="tag = 'aarhus'" size="{{ tag.length }}" />
		<input type="hidden" ng-model="speed" ng-init="speed='6000'">
	</h1>


	<ul id="slides">
		<li ng-repeat="image in images" class="slide" ng-class="{ active : image.isActive }">
			<figure>
				<img ng-src="{{ image.images.standard_resolution.url }}" class="image" />
				<em>Filter used: {{image.filter}}</em>
			</figure>

			<div class="meta">
				<p class="qr">
					<a href="{{image.link}}" target="_blank"><img ng-src="http://qrfree.kaywa.com/?s=8&amp;d={{ image.link | escape }}" title="Link to this image"/></a>
				<p>
				<p class="caption">
					<cite class="author">
						<img ng-src="{{ image.user.profile_picture }}" width="40" height="40" /> 
						<a href="http://www.instagram.com/{{image.user.username}}" target="_blank">{{image.user.username}}</a>
					</cite> 
					{{ image.caption.text }}
				</p>
				<ul class="tags" ng-repeat="tag	in image.tags">
					<li style="display: inline-block; margin-right: .1em;" onclick="document.getElementById('tag').value = '{{tag}}'">#{{tag}}</li>
				</ul>
				<p class="likes">
					&hearts; {{ image.likes.count }} likes
				</p>
				<ul class="comments">
					<li class="comment" ng-repeat="comment in image.comments.data">
						<cite class="author">
							<img ng-src="{{ comment.from.profile_picture }}" width="40" height="40" /> 
							{{ comment.from.username }}
						</cite> 
						{{ comment.text }}
					</li>
				</ul>
			</div>
		</li>
	</ul>
</body>
</html>